body {
  font-family: poppins;
  background-color: rgba(221, 242, 251, 0.958);
}

/* Side bar styling */


.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(191, 235, 252, 0.964);
  z-index: 2;
}

.sidebar-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.sidebar-icon {
  width: 40px;
  padding: 10px 15px 10px 15px;
}

.title {
  flex: 1;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
}

.icons-container {
  display: flex;
  flex-direction: column;
}

.home-icon-container,
.transactions-icon-container,
.Account-icon-container,
.Categories-icon-container {
  margin: 4px 8px 10px 4px;
  padding: 4px 0px 0px 4px;
  display: flex;
  vertical-align: middle;
  height: 40px;
  background-color: rgba(221, 242, 251, 0.958);
  /* rgb(201, 232, 242) */
  border-radius: 6px;
  box-shadow: 0px 0px 1px rgba(118, 140, 148, 0.4);
}

.home-icon-container:hover,
.transactions-icon-container:hover,
.Account-icon-container:hover,
.Categories-icon-container:hover {
  margin: 4px 8px 10px 4px;
  padding: 4px 0px 0px 4px;
  display: flex;
  vertical-align: middle;
  height: 40px;
  background-color: rgb(160, 218, 238);
  /* rgb(160, 218, 238) */
  border-radius: 6px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.home-icon {
  padding: 5px 0px 5px 8px;
  width: 30px;
}

.Categories-icon {
  padding: 5px 0px 5px 12px;
  width: 25px;
  height: 25px;
}

.transactions-icon {
  padding: 5px 0px 5px 9px;
  width: 30px;
}

.Account-icon {
  padding: 5px 0px 7px 13px;
  width: 22px;
  height: 20px;
}

.home-title {
  padding: 8px 0px 5px 8px;
  font-family: Afacad+Flux;
  font-size: 16px;
  font-weight: 600;
}

.Categories-title {
  padding: 5px 0px 0px 12px;
  font-family: Afacad+Flux;
  font-size: 16px;
  font-weight: 600;
}

.transactions-title {
  padding: 5px 0px 0px 8px;
  font-family: Afacad+Flux;
  font-size: 16px;
  font-weight: 600;
}

.Account-title {
  padding: 5px 0px 0px 12px;
  font-family: Afacad+Flux;
  font-size: 16px;
  font-weight: 600;
}


/* Top bar styling */




.top-bar {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  height: 55px;
  background-color: rgba(191, 235, 252, 0.964);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.user-details {
  display: flex;
  justify-content: right;
  vertical-align: middle;
}

.user-dp {
  width: 30px;
  padding: 8px 4px 8px 8px;
}

.username {
  font-family: Afacad+Flux;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 8px 8px 4px;
}

.categoriesPage-div{
  position: fixed;
  top: 120px;
  left: 280px;
  padding: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.header-section{
  font-size: 27px;
  font-weight: 610;
}

.categories-section{
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(255, 33, 33, 0.86);
}

.beauty-icon{
  width: 45px;
  padding: 10px;
  
}
.category-image{
display: flex;

}
.category-details{
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 2px;
  font-size: 12px;
}
.Cat-Name{
  font-weight: bold;
}
.more-details{
  font-size: 10px;
  color: grey;
}