
body{
  font-family: poppins;
}
.main{
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
.hearder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 735px;
  position: fixed;
  top: 0;
  bottom: 0;
  align-items: center;
  margin-bottom: 250px;
}
.top-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cashew-logo{
  width: 80px;
  margin-bottom: 20px;
}
.signin{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 550;
}
.email-box{
  width: 432.400px;
  height: 23px;
  padding: 12px 12px 12px 8px;
  border: 0.8px solid rgb(222, 222, 222);
  border-radius: 4px;
  margin-top: 40px;
}
.email-box::placeholder{
  padding: 8px;
  font-size: 15px;
  color:rgb(170, 170, 170) ;
}
.email-box:focus{
  border-color: rgb(77, 100, 255);  /* Change border color */
  box-shadow: 0 0 5px rgba(77, 100, 255, 0.5); /* Add a shadow effect */
  outline: none;
}
.bottom-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.continue-button{
  margin-top: 16px;
  width: 454px;
  height: 45px;
  padding: 12px;
  border: 0.8px solid rgb(222, 222, 222);
  background-color: rgb(204, 204, 204);
  color: white;
  font-family: Poppins;
  font-size: 500;
  font-weight: bold;
  vertical-align: middle;
  border-radius: 4px;
  cursor: not-allowed;
}
.signup-section
{
  margin-top: 30px;
  width: 406px;
  height: 21px;
  display: flex;
  justify-content: center;
  padding: 8px 24px 8px 24px;
  font-size: 14px;
}
.signup-link{
  text-decoration: none;
  font-weight: 401;
  color: rgb(77, 100, 255);
}